<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="active item">Home</a>
    </div>
  </div>
  <div class="ui text container navbar-hero-wrapper">
    <h1 class="ui inverted header navbar-hero-header">
      Fake API
    </h1>
    <h2>A Fake REST API that can give you anything you want.</h2>
  </div>
</div>
