<div class="ui container">
  <div class="ui centered grid">
    <div class="column">
      <div class="ui center aligned segment">
        <h1 class="ui icon header">
          <i class="exclamation triangle icon"></i>
          404 - Page Not Found
        </h1>
        <p>Oops, looks like this page doesn't exist</p>
        <div class="ui buttons">
          <a href="/" class="ui button primary">Go to back to home</a>
        </div>
      </div>
    </div>
  </div>
</div>
